// Color Variables
// Bootstrap Color Defaults
$white: #fff !default;
$gray-100: #f9fff1 !default;
$gray-200: #e8eee1 !default;
$gray-300: #e0e5d9 !default;
$gray-400: #c5bfd1 !default;
$gray-500: #b9b3c5 !default;
$gray-600: #a19cab !default;
$gray-700: #413f45 !default;
$gray-800: #3C3A40 !default;
$gray-900: #242326 !default;
$black: #000 !default;
$blue: #cbee9a !default;
$indigo: #97b173 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #7d7985 !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$navbar-base-height: 60px;
// Change below variable to change the width of the sidenav
$sidenav-base-width: 120px;
// Change below variable to change the width of the sidenav when collapsed
$sidenav-collapsed-width: 55px;
// Change below variable to change the height of the sticky footer
$sticky-footer-height: 56px;

